#fox-slider.fox-slider
  .fox-slider-track
    .fox-slider-list
      each val, index in imgList
        +fox-item(val, index)
    .fox-slider-nav
      .fox-slider-prev
      .fox-slider-next
    .fox-slider-dots