// Font
$mainFont1                : Roboto, Helvetica, Arial, sans-serif;
$mainFont2                : 'Playfair Display', Helvetica, Arial, sans-serif;
$mainFont3                : 'Hammersmith One', sans-serif;

// Size
$mainFontColor           : #413d4b; //rgb(65, 61, 75);
$mainFontSize            : 16px;
$mainFontWeight          : 400; //
$mainLineHeight          : 1.2; //

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff; //
$primary-color           : #00e0d0; //
$danger-color            : #fc5c65; //

$success-color           : #26de81;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;


// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$placeholder     : rgba(65, 61, 75, 0.5); //

// Border Color
$border-base             : #DCDFE6;
$border-form-base        : rgba(0, 0, 0, .1); //
$border-form-footer      : rgba(255, 255, 255, .5); //
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

// Burger

$burgerW: 30px;
$burgerH: 20px;
$burgerLineH: 2px;
$burgerPadding: 0px;
